div h1 {
	float: miiddle;
	font-size: 35px;
	font-family: Arial;
}

div div {
	float: right;
	
}

body {
	background-color: cyan;
}

div a {
	
}
div a{
	
	float:center;
	
	
}
div ol li {
	float:center;
	text-decoration: none;
	
}
